.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    text-align: center;
    background: #d7d7d7 !important;
    font-size: 13px;
    font-weight: 400;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    border-radius: 100%;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

