html{
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2.5rem;
  /* Adjust spacing to match gap-14 in Tailwind */
}

li {
  position: relative;
  /* Ensure dropdowns position correctly */
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  /* Adjust to your design */
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #ffffff;
  /* Hover effect */
}

.plx{
  padding-left: 5.5rem !important;
  padding-right: 5.5rem !important;
}

.ply {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

@media (max-width: 1024px) {
  .plx {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }

  .ply{
    padding-bottom : 0 !important;
  }

  .mobile-icon-box {
    width: 25%; /* Each icon box takes 1/4th of the available width */
    height: 4rem; /* Set the height */
    background-color: #f00; /* Red background */
    display: flex;
    justify-content: center; /* Centers the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    
}

.mobile-icon-box i {
    color: #fff; /* White color for the icons */
    margin-bottom: 10px; /* Remove any bottom margin */

}

.bl {
  border-left : solid 1px white;
}

.mobile-icon-box .dropdown-content {
  position: absolute; /* Ensure dropdown appears correctly */
  top: 100%; /* Dropdown right below the icon */
  left: 50%; /* Center */
  transform: translateX(-50%); /* Adjust */
  display: none; /* Initially hidden */
}

.fa:hover, .fa:focus {
  color: white !important;
}

.mobile-icon-box:hover .dropdown-content {
  display: block; /* Show dropdown on hover */
}

.bdg {
  background: white !important;
}
}

#mobileDropdownUser,
#mobileDropdownBars {
  top: 100%; /* Position right below the icon */
  left: 50%; /* Center dropdown relative to the icon */
  transform: translateX(-50%); /* Adjust for proper centering */
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 9.3px 0.7px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: max-content; /* Adjust width to content */
}

#mobileDropdownSearch {
  width: max-content; /* Adjust width to content */
  top: 100%; /* Position right below the icon */
  left: 50%; /* Center dropdown relative to the icon */
  transform: translateX(-50%); /* Adjust for proper centering */
}

#mobileCartDrawer {
  transition: transform 0.3s ease;
  right: -100%;
}

#cartOverlay {
  display: none; /* Initially hidden */
}

/* Active state for mobile cart drawer */
#mobileCartDrawer.active {
  right: 0; /* Show drawer */
}

#cartOverlay.active {
  display: block; /* Show overlay */
  opacity:0.5;
}


.mobile-icon-box {
  position: relative;
}

.mobile-icon-box .dropdown-content {
  top: 100%;
  left: 0;
}

.mobile-icon-box:hover .dropdown-content {
  display: block;
}

.menu-links{
  top: 8px !important;
  height: 40px; 
  position: relative; 
  margin-bottom: 0; 
  padding: 0 15px; 
  text-align: center;
}




#menuDropdownUser, #menuDropdownBars {
  min-width: 250px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 3px 9.3px 0.7px rgba(0, 0, 0, 0.15);
  border-top: 3px solid #e51d02 !important;
  right: 0;
  margin: 0;
  border: none;
}

#menuDropdownUser a, #menuDropdownBars button {
  transition: background-color 0.3s ease;
}

#menuDropdownUser a:hover, #menuDropdownBars button:hover {
  background-color: #f0f0f0;
}

#menuDropdownBars .flex {
  gap: 8px;
}

#menuDropdownBars .flex img {
  width: 32px;
  height: 20px;
  border: 1px solid #ddd;
}

#menuDropdownBars .flex button {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

#menuDropdownBars .flex button:hover {
  background-color: #e2e8f0;
}

#searchDropdown {
  background: #fff;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 40px; /* Adjust based on your layout */
  border: 1px solid #ebebeb;
}

.search-icon {
  background: #111; /* Black background for the icon */
  width: 42px; /* Fixed width for the button */
  height: 42px; /* Fixed height for the button */
  display: flex;
  border-radius: 0; /* No rounded corners */
  cursor: pointer;
}

/* Font Awesome search icon */
.search-icon i {
  font-size: 14px; /* Adjust icon size */
  color: #fff; /* White icon */
}
.border-none{
  outline: none;
}

input{
  border: none;
}

#cartDrawer {
  transform: translateX(100%); /* Hidden by default */
  transition: transform 0.3s ease-in-out; /* Smooth slide effect */
}

#cartDrawer.open {
  transform: translateX(0); /* Fully visible */
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 40;
  transition: opacity 0.3s ease-in-out;
}

/* Overlay active state */
#overlay.active {
  display: block;
  opacity: 1;
}



/* Close button styles */
#closeCartDrawer {
  background: none;
  border: none;
  cursor: pointer;
}

/* Dropdown menu styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 2px solid red;
  /* Red top border */
}

.black-bd {
  border-top: 2px solid black;
  /* Red top border */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Badge Styling */
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  text-align: center;
  background: #d7d7d7 !important;
  font-size: 13px;
  font-weight: 400;
  width: 22px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  border-radius: 100%;
}

/* Cart Badge Custom Styling */
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #111;
  text-transform: capitalize;
  font-weight: 400;
  transition: font-weight 0.3s ease, color 0.3s ease;
  /* Smooth transition */
}

/* Style for the active link (Home) */
.font-poppins.active {
  font-weight: 600;
  /* Bold for active link */
  color: #111;
}

/* Style for hovering over links */
.font-poppins:hover {
  font-weight: 600;
  /* Bold on hover */
  color: #111;
}


/* Set the initial color of the icons */
.fa {
  margin-top: 15px;
  color: #666666;
  /* Default color */
  font-size: 16px;
  /* Set the desired icon size */
}

/* On hover or focus, change the color to red */
.fa:hover,
.fa:focus {
  color: red;
  /* Hover color */
  cursor: pointer;
}

body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Cabin, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  position: absolute;
  top: -100%;
  /* Start above the viewport */
  left: 0;
  width: 100%;
  height: 83%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  /* Add a smooth transition */
  opacity: 0;
  /* Initially invisible */
  margin-bottom: 10px;
  /* Adjust this value to control the space between slides */
}

.slide1 {
  background-image: url('./assets/img/slider1_op.jpg');
}

.slide2 {
  background-image: url('./assets/img/slider2_op.jpg');
}

.slide3 {
  background-image: url('./assets/img/slider3_op.jpg');
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  /* Ensures the content fills the slide height */
  padding: 0;
  /* Remove any additional padding */
  margin: 0;
  /* Remove any margin causing additional space */
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  padding: 10px 20px;
}

.dir-control {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  z-index: 5;
}

#dir-control-left {
  left: 0;
  margin-left: 30px;
}

#dir-control-right {
  right: 0;
  margin-right: 60px;
}

.slider-active {
  visibility: hidden;
  opacity: 0;
}

.slide.slide-is-active {
  visibility: visible;
  opacity: 1;
}

.slide-is-active {
  top: 0;
  opacity: 1;
}

.ab-iconcart {
  margin-top: 6px;
  top: -2px;
}

.slide-transition {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  /* 1.5 seconds transition */
}

/* Arrow Base Styling */
#dir-control-left,
#dir-control-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* Vertical centering */
  background: rgba(255, 255, 255, 1);
  /* White background */
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  /* Circular shape */
  transition: all 0.3s ease;
  /* Smooth transition */
  cursor: pointer;
  opacity: 0;
  /* Hidden by default */
  pointer-events: none;
  /* Disabled interaction */
}

/* Visibility on hover */
.wrap:hover #dir-control-left,
.wrap:hover #dir-control-right {
  opacity: 1;
  /* Visible when hovered */
  pointer-events: auto;
  /* Enable interaction */
}

#dir-control-left {
  left: 10px;
  transform: translateY(-50%);
  z-index: 10;
}

#dir-control-right {
  right: 10px;
  transform: translateY(-50%);
}

/* Arrow icon styling */
.tparrows i {
  font-size: 2rem;
  /* Adjust size */
  color: black;
  /* Black arrow */
}

/* Hover effect */
.tparrows:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Slider Section Styling */
.slider-section {
  width: 100%;
  margin-top: -5.5rem;
}

.image-container1 {
  display: flex;
  justify-content: space-around; /* Distribute space evenly */
  align-items: center;          /* Center items vertically */
  width: 100%;                  /* Ensure full width */
}

.owl-carousel {
  width: 100%; /* Ensure the carousel spans the entire container */
}

.slider-item {
  position: relative;
  width: 23%;
  overflow: hidden;
}

.slider-item img {
  max-width: 100%; /* Ensure images resize properly */
  height: auto;    /* Maintain aspect ratio */
  
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}


.slider-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.caption {
  position: absolute;
  left: 40px; 
  bottom: 0;
  transform: translateX(-50%);
  background-color: white;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.25rem;
  font-weight: normal;
  color: black;
  transition: all 0.3s ease;
  font-family: "Poppins", "Helvetica", "Arial", "sans-serif";
}

.slider-item:hover .slider-image {
  transform: scale(1.2); 
}

.slider-item:hover .caption {
  bottom: 5rem; 
  cursor: pointer;
  color: red;
}



#copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 11%;
}

.featured-section {
  background-color: #fbf8f7;
  margin-top: 6.25rem;
  padding-bottom: 6rem;
  text-align: center;
}

.text1-container {
  display: inline-block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 6rem;
  color: #111;
}

.underline {
  width: 70px;
  height: 1px;
  background-color: #111;
  margin: 10px auto 0;
  /* Space above the line */
}

.subtext {
  margin-top: 1rem;
  color: #666666;
  font-size: 16px;
  font-family: Roboto, Sans-serif;
  line-height: 16px;
}

.tab_cates {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Spacing between items */
  list-style: none;
  padding: 0;
margin-top: 20px;
  margin-bottom: 40px;
  /* Adjust spacing around the tabs */
}

.nav-item {
  font-family: 'Poppins', sans-serif;
}

.title_tabcate {
  display: inline-block;
  padding: 9px 23px 9px 23px;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #111;
  text-transform: capitalize;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.title_tabcate.active {
  background-color: #111;
  color: #fff;
  border-color: #111;
}

.image-container {
  display: grid; /* Switch to grid layout */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Auto-adjust columns */
  gap: 20px; /* Space between the images */
  margin: 0 auto;
  width: 95%; /* Reduce margin on sides */
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  aspect-ratio: 3 / 4; /* Maintain the image aspect ratio */
  text-align: center; /* Center text for description */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.cover-image {
  z-index: 1;
}

.hover-image {
  transform: translateY(-100%);
  z-index: 2;
  cursor: pointer;
}

.image-wrapper:hover .cover-image {
  transform: translateY(100%);
  cursor: pointer;
}

.image-wrapper:hover .hover-image {
  transform: translateY(0);
}

.hover-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  font-family: "Poppins", "Helvetica", "Arial", "sans-serif";
  transition: transform 0.5s ease;
  transform: translateY(100%);
  z-index: 3;
}

.hover-overlay:hover {
  color: #ff0000;
  cursor: pointer;
}

.image-wrapper:hover .hover-overlay {
  transform: translateY(0%);
}

/* Description styling */
.text-container {
  display: grid; /* Switch to grid layout */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Same as images */
  gap: 20px; /* Space between the images */
  margin: 0 auto;
  width: 95%; /* Reduce margin on sides */
  max-width: 1570px; /* Optional: Set a max-width for the container */
}

.text-wrapper {
  text-align: center; /* Center-align text under each image */
  width: 95%; /* Match the width of the image */
  margin: 0 10px; /* Space between each text block */
  text-align: center;
}

.product-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem; /* Add space between the text and stars */
  margin-bottom: 8px;
  margin-top: 15px;
}

.product-name {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  font-family: "Poppins", "Helvetica", "Arial", "sans-serif";
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 1px; /* Space between stars */
}

.product-details {
  display: flex;
  gap: 8rem;
  align-items: center;
  margin-top: 8px;
}

.product-price {
  font-size: 14px;
  color: #e74c3c;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 12px;
  margin-left: 5px;
}

.product-category {
  text-align: right;
  text-transform: capitalize;
  color: #999;
  font-size: 15px;
  font-family: "Poppins", "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
}


/* General Section Styles */
.custom-section {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 2rem;
}

.custom-container {
  max-width: 1570px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Row and Column Styles */
.custom-row {
  display: flex;
  width: 100%;
}

.custom-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
}

.double-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Banner Styles */
.banner-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer; /* Indicate interactivity */
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}

.banner-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.banner-content h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Responsive Design */
@media (min-width: 768px) {
  .custom-column {
    margin: 0 10px;
  }

  .custom-column:first-child,
  .custom-column:last-child {
    width: 33.333%;
  }

  .double-column {
    width: 33.333%;
  }
}

.shrink {
  transition: transform 0.3s ease; /* Smooth transition for the shrink effect */
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.shrink:hover {
  transform: scale(0.9); /* Shrinks the image to 90% of its size on hover */
}

#footer {
  background-image: url('https://newyork.fieldthemes.com/fashion30/home31/img/cms/home 31/bg_footer.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 15px 100px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-column {
  flex: 1 1 calc(25% - 30px);
  min-width: 200px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-title {
  margin-bottom: 15px;
  margin-top: 13px;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins, Sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 20px;
  padding-left: 11px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #999999;
  font-size: 15px;
  font-family: Roboto, Sans-serif;
  text-transform: capitalize;
  line-height: 15px;
}

.footer-list li {
  margin-bottom: 0px; /* Reduced margin between list items */
  font-size: 14px;
  display: block; /* Ensures each list item is on a new line */
}

.footer-list li i {
  margin-right: 10px;
}

.footer-list li a {
  color: white;
  text-decoration: none;
  color: #999999;
  font-size: 15px;
  font-family: Roboto, Sans-serif;
  text-transform: capitalize;
  line-height: 15px;
}

.footer-list li a:hover {
  text-decoration: underline;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.mt {
  gap: 1rem !important;
}

.social-icon {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  margin-top: 4rem;
}

.social-icon:hover {
  background-color: white;
  color: black;
}

.payment-methods {
  text-align: center;
  margin-top: 20px;
}

.footer-additional-links {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  gap: 2rem; /* Space between the items */
  margin-top: 3rem; /* Adds some spacing above the links */
}

.footer-additional-links a {
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins, Sans-serif;
  font-weight: 300;
  line-height: 16px;
  text-decoration: none; /* Removes the underline */
  transition: color 0.3s ease; /* Smooth transition for the hover effect */
}

.footer-additional-links a:hover {
  color: red; /* Turns the text red on hover */
}

.newsletter-section {
  text-align: center;
}

.form {
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.form__email {
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #ebebeb;
  font-family: 'Poppins', sans-serif;
  color: #666;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  padding: 0 28px;
  width: 567px;
  display: inline-block;
}

.form__email:focus {
  outline: 1px solid #111;
}

.form__button {
  background: #000;
  width: 200px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  box-shadow: none;
  transition: background-color 0.3s ease;
  border: none;
}

.form__button:hover {
  background: red;
}

.button-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

